<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<html lang="en">
<head th:include="commoncss :: commoncss">
    <title>Create Product</title>
</head>
<body>
<div class="main-content">
    <div class="container">

<div class="card" >
    <div class="card-header">
        Product
    </div>
<form id="product_add_frm" th:action="@{/product/save}" th:object="${product}" method="post">
    <div class="card-body">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{version}">
    <div class="row">
        <div class="col-md-12">
    <div class="form-group">

    <label class="control-label">
        Name
    </label>
    <input type="text" th:field="*{productName}" class="form-control">
    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
    <div class="form-group">

    <label class="control-label">
        Quantity
    </label>
    <input type="number" th:field="*{productQty}" class="form-control">
    </div>
        </div>
    </div>    <div class="row">
        <div class="col-md-12">
    <div class="form-group">

    <label class="control-label">
        Price
    </label>
    <input type="number" th:field="*{productPrice}" class="form-control">
    </div>
        </div>
    </div>
    </div>
<div class="card-footer">
    <button th:if="${product.id}==null" class="btn btn-success" type="submit">Register</button>
    <button th:if="${product.id}!=null"class="btn btn-success" type="submit">Update</button>
    <a class="btn btn-default" th:href="@{/product/}">Back</a>
</div>
</form>
</div>
</div>
</div>
<div th:include="commonjs :: commonjs"></div>

</body>
</html>